app/views/pages/elements.pug
extends ../layouts/layout.pug

block vars
  - var pageID = 'elements'; 

block banner
  .banner.banner-info
    .inner
      .message
        p
          strong This is a status banner.
          |  It has a secondary line for more info.

      .action
        p
          a(href="#0").button.white.ghost Dismiss

  .banner.banner-warning
    .inner
      .message
        p
          strong This is a warning banner.
          |  It has a secondary line for more info.
      .action
        p
          a(href="#0").button.white.ghost Dismiss
  .banner.banner-action
    .inner
      .message
        p
          strong This is a action banner.
          |  It has a secondary line for more info.
      .action
        p
          a(href="#0").button.dark.ghost Dismiss
  .banner.banner-success
    .inner
      .message
        p
          strong This is a success banner.
          |  It has a secondary line for more info.
      .action
        p
          a(href="#0").button.white.ghost Dismiss

block content
  section.container
    .content

      //  Employee Reviews
      .component
        .component-content
          .component
            .component-content

              p
                a(href="#0" @click="spinner = true").button.small Start Spinner

              h1 Header 1
              h2 Header 2
              h3 Header 3
              h4 Header 4
              h5 Header 5
              h6 Header 6

              p Normal Para. Etiam porta sem malesuada magna mollis euismod. Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.

              p.small Small Para. Etiam porta sem malesuada magna mollis euismod. Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.

              p.light Light Para. Etiam porta sem malesuada magna mollis euismod. Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.

              p.small.light Small Light Para. Etiam porta sem malesuada magna mollis euismod. Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.

              hr

              h1 Modals

              p
                a(href="#0" data-micromodal-trigger="modal-masquerade-comment").button Masquerading Comment Modal

              include ../partials/modals/masquerade-comment

              hr

              h1 Buttons

              p
                a(href="#0").button Normal Button
              p
                a(href="#0").disabled.button Disabled Button
              p 
                button(type="button") Button Type Button
              p
                input(type="button" value="Input Button")
              p
                a(href="#0").button.small Normal Small Button
              p
                a(href="#0").button.yellow Yellow Button
              p
                a(href="#0").button.yellow.small Yellow Small Button
              p
                a(href="#0").button.green Green Button
              p
                a(href="#0").button.green.small Green Small Button
              p
                a(href="#0").button.green.ghost Green Ghost Button
              p
                a(href="#0").button.green.ghost.small Green Small Ghost Button
              p
                a(href="#0").button.green.ghost.small 
                  i.icon-add.left-icon
                  | Green Small Ghost Button with Icon


              p
                a(href="#0").button.small.ghost.green.solid-icon 
                  span.inner-button Green Button with Unlocked Icon
                  span.container-icon
                    i.icon-unlocked.right-icon

              p
                a(href="#0").button.small.ghost.green.solid-icon.disabled
                  span.inner-button Green Button with Unlocked Icon Disabled
                  span.container-icon
                    i.icon-unlocked.right-icon


              hr

              h1 Form Elements

              +input('Label')
              +input('Label', 'text', '', '', false, 'Value is required')
              +input('Label', 'text', '', '', false, false, false, true)
              +textarea('Label')
              +select('Label')
                option(value="Option 1") Option 1
                option(value="Option 2") Option 2
                option(value="Option 3") Option 3
                option(value="Option 4") Option 4

              +advancedSelect('Advanced Select Label', 'Selected Option Here and some other really long text', 'demoAdvSelect')
                - for (x = 0; x <= 7; x++)
                  +checkbox('advanced-checkbox-' + x, 'Checkbox Label')

              +select('Label', 'full')
                option(value="Option 1") Option 1
                option(value="Option 2") Option 2
                option(value="Option 3") Option 3
                option(value="Option 4") Option 4
              .input-group.field
                +checkbox('checkbox-1', 'Checkbox Label')
                +checkbox('checkbox-2', 'Checkbox Label Checked', true)

              .input-group.field
                +radio('radio-1', 'radio-group', 'Radio Label')
                +radio('radio-2', 'radio-group', 'Radio Label Checked', true)
              +toggle('toggle-normal', false, false, 'No', 'Yes')
              +toggle('toggle-mini', false, false, 'No', 'Yes')


  .spinner(x-show="spinner === true" @click="spinner = false")
    .spinner-message
      i.icon-spinner
      p Loading

build/elements.html
<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="NOINDEX, NOFOLLOW">
    <title>UVUPM</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="application-name" content="Vanilla5 Project">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&amp;family=Rajdhani:wght@600;700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.css">
    <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet" media="all">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="/assets/images/app-icons/apple-touch-icon.png">
  </head>
  <body id="top" :class="{ 'show-nav': showNav }">
    <header class="site-masthead container">
      <div class="content">
        <div class="site-logo"><a href="/"><img src="/assets/images/uvupm-logo.svg"></a></div>
        <nav class="site-nav">
          <ul class="list-unstyled">
            <li><a href="/">Current</a></li>
            <li><a href="/past">Past</a></li>
            <li><a href="#0">Admin</a>
              <ul class="list-unstyled">
                <li><a href="#0" data-micromodal-trigger="modal-masquerade-as-user">Masquerade</a></li>
                <li><a href="/admin/masquerade-history">Masquerade History</a></li>
                <li><a href="/admin/review-management">Review Management</a></li>
                <li><a href="/admin/response-management">Response Management</a></li>
                <li><a href="/admin/admin-manager">Admin Role Management</a></li>
                <li><a href="/admin/process-management">Process Management</a></li>
                <li><a href="/admin/system-configuration">System Configuration</a></li>
                <li><a href="/form-builder">Form Builder (temp link)</a></li>
                <li><a href="/admin/read-only">Read Only (temp link)</a></li>
              </ul>
            </li>
            <li class="active"><a href="/elements.html">Elements</a></li>
          </ul>
        </nav>
        <div class="user-profile">
          <div class="user-account">
            <div class="profile-content">
              <p>Jerry Seinfeld</p>
              <p class="title">Professional Talker</p>
            </div>
            <div class="profile-image"><img src="http://placehold.it/36x36"></div>
          </div>
        </div>
      </div>
    </header>
    <div class="banner banner-info">
      <div class="inner">
        <div class="message">
          <p><strong>This is a status banner.</strong> It has a secondary line for more info.</p>
        </div>
        <div class="action">
          <p><a class="button white ghost" href="#0">Dismiss</a></p>
        </div>
      </div>
    </div>
    <div class="banner banner-warning">
      <div class="inner">
        <div class="message">
          <p><strong>This is a warning banner.</strong> It has a secondary line for more info.</p>
        </div>
        <div class="action">
          <p><a class="button white ghost" href="#0">Dismiss</a></p>
        </div>
      </div>
    </div>
    <div class="banner banner-action">
      <div class="inner">
        <div class="message">
          <p><strong>This is a action banner.</strong> It has a secondary line for more info.</p>
        </div>
        <div class="action">
          <p><a class="button dark ghost" href="#0">Dismiss</a></p>
        </div>
      </div>
    </div>
    <div class="banner banner-success">
      <div class="inner">
        <div class="message">
          <p><strong>This is a success banner.</strong> It has a secondary line for more info.</p>
        </div>
        <div class="action">
          <p><a class="button white ghost" href="#0">Dismiss</a></p>
        </div>
      </div>
    </div>
    <div class="page-content" x-data="{'spinner': false}">
      <main>
        <div class="main-content">
          <section class="container">
            <div class="content">
              <!--  Employee Reviews-->
              <div class="component">
                <div class="component-content">
                  <div class="component">
                    <div class="component-content">
                      <p><a class="button small" href="#0" @click="spinner = true">Start Spinner</a></p>
                      <h1>Header 1</h1>
                      <h2>Header 2</h2>
                      <h3>Header 3</h3>
                      <h4>Header 4</h4>
                      <h5>Header 5</h5>
                      <h6>Header 6</h6>
                      <p>Normal Para. Etiam porta sem malesuada magna mollis euismod. Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                      <p class="small">Small Para. Etiam porta sem malesuada magna mollis euismod. Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                      <p class="light">Light Para. Etiam porta sem malesuada magna mollis euismod. Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                      <p class="small light">Small Light Para. Etiam porta sem malesuada magna mollis euismod. Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                      <hr>
                      <h1>Modals</h1>
                      <p><a class="button" href="#0" data-micromodal-trigger="modal-masquerade-comment">Masquerading Comment Modal</a></p>
                      <div class="modal" id="modal-masquerade-comment" aria-hidden="true">
                        <div class="modal-overlay" tabindex="-1">
                          <div class="modal-container" role="dialog" aria-modal="true" aria-labelledby="aria-labelledby">
                            <header class="modal-header">
                              <h6>Masquerade Comment Required</h6>
                              <div class="close-modal close-modal-header" aria-label="Close modal" data-micromodal-close="data-micromodal-close"><i class="icon-clear"></i></div>
                            </header>
                            <div class="modal-content">
                              <div class="mb-40">
                                <p><i>You masqueraded as the following user:</i></p>
                                <ul class="user-list list-unstyled mb-40">
                                  <li class="active">
                                    <div class="user-image"><img src="http://placehold.it/60x60"></div>
                                    <div class="user-info">
                                      <p class="name">John Smith</p>
                                      <p class="title">Professional</p>
                                    </div>
                                    <div class="user-id">
                                      <p>UVID: ########</p>
                                    </div>
                                  </li>
                                </ul>
                                <P><i>Please summarize what you did while masquerading as this user.</i></P>
                                <div class="field">
                                  <textarea></textarea>
                                  <p class="wordcap">2000 character limit</p>
                                </div>
                              </div>
                              <div class="button-group"><a class="button" href="personal-details-2.html">Start Masquerading</a><a class="button link" href="personal-details-2.html">Cancel</a></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <hr>
                      <h1>Buttons</h1>
                      <p><a class="button" href="#0">Normal Button</a></p>
                      <p><a class="disabled button" href="#0">Disabled Button</a></p>
                      <p> 
                        <button type="button">Button Type Button</button>
                      </p>
                      <p>
                        <input type="button" value="Input Button">
                      </p>
                      <p><a class="button small" href="#0">Normal Small Button</a></p>
                      <p><a class="button yellow" href="#0">Yellow Button</a></p>
                      <p><a class="button yellow small" href="#0">Yellow Small Button</a></p>
                      <p><a class="button green" href="#0">Green Button</a></p>
                      <p><a class="button green small" href="#0">Green Small Button</a></p>
                      <p><a class="button green ghost" href="#0">Green Ghost Button</a></p>
                      <p><a class="button green ghost small" href="#0">Green Small Ghost Button</a></p>
                      <p><a class="button green ghost small" href="#0"> <i class="icon-add left-icon"></i>Green Small Ghost Button with Icon</a></p>
                      <p><a class="button small ghost green solid-icon" href="#0"> <span class="inner-button">Green Button with Unlocked Icon</span><span class="container-icon"><i class="icon-unlocked right-icon"></i></span></a></p>
                      <p><a class="button small ghost green solid-icon disabled" href="#0"><span class="inner-button">Green Button with Unlocked Icon Disabled</span><span class="container-icon"><i class="icon-unlocked right-icon"></i></span></a></p>
                      <hr>
                      <h1>Form Elements</h1>
                      <div class="field">
                        <label>Label
                        </label>
                        <input type="text"/>
                      </div>
                      <div class="field has-error">
                        <label>Label
                        </label>
                        <input type="text" value="" placeholder=""/>
                        <p class="error-message">Value is required</p>
                      </div>
                      <div class="field">
                        <label>Label<span class="required">*</span>
                        </label>
                        <input type="text" value="" placeholder=""/>
                      </div>
                      <div class="field">
                        <label>Label</label>
                        <textarea></textarea>
                      </div>
                      <div class="field">
                        <label>Label</label>
                        <div class="select-container">
                          <select>
                            <option value="Option 1">Option 1</option>
                            <option value="Option 2">Option 2</option>
                            <option value="Option 3">Option 3</option>
                            <option value="Option 4">Option 4</option>
                          </select>
                        </div>
                      </div>
                      <div class="field" x-data="{'demoAdvSelect': false}">
                        <label>Advanced Select Label</label>
                        <div class="select-container-advanced" @click.away="demoAdvSelect= false" tabindex="0">
                          <div class="select" @click="demoAdvSelect= !demoAdvSelect">Selected Option Here and some other really long text</div>
                          <div class="advanced-select-contents" x-show="demoAdvSelect">
                            <div class="input-group">
                              <div class="checkbox">
                                <input type="checkbox" id="advanced-checkbox-0"/>
                                <label for="advanced-checkbox-0"><span class="label-container">Checkbox Label</span>
                                </label>
                              </div>
                              <div class="checkbox">
                                <input type="checkbox" id="advanced-checkbox-1"/>
                                <label for="advanced-checkbox-1"><span class="label-container">Checkbox Label</span>
                                </label>
                              </div>
                              <div class="checkbox">
                                <input type="checkbox" id="advanced-checkbox-2"/>
                                <label for="advanced-checkbox-2"><span class="label-container">Checkbox Label</span>
                                </label>
                              </div>
                              <div class="checkbox">
                                <input type="checkbox" id="advanced-checkbox-3"/>
                                <label for="advanced-checkbox-3"><span class="label-container">Checkbox Label</span>
                                </label>
                              </div>
                              <div class="checkbox">
                                <input type="checkbox" id="advanced-checkbox-4"/>
                                <label for="advanced-checkbox-4"><span class="label-container">Checkbox Label</span>
                                </label>
                              </div>
                              <div class="checkbox">
                                <input type="checkbox" id="advanced-checkbox-5"/>
                                <label for="advanced-checkbox-5"><span class="label-container">Checkbox Label</span>
                                </label>
                              </div>
                              <div class="checkbox">
                                <input type="checkbox" id="advanced-checkbox-6"/>
                                <label for="advanced-checkbox-6"><span class="label-container">Checkbox Label</span>
                                </label>
                              </div>
                              <div class="checkbox">
                                <input type="checkbox" id="advanced-checkbox-7"/>
                                <label for="advanced-checkbox-7"><span class="label-container">Checkbox Label</span>
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="field">
                        <label>Label</label>
                        <div class="select-container">
                          <select class="full">
                            <option value="Option 1">Option 1</option>
                            <option value="Option 2">Option 2</option>
                            <option value="Option 3">Option 3</option>
                            <option value="Option 4">Option 4</option>
                          </select>
                        </div>
                      </div>
                      <div class="input-group field">
                        <div class="checkbox">
                          <input type="checkbox" id="checkbox-1"/>
                          <label for="checkbox-1"><span class="label-container">Checkbox Label</span>
                          </label>
                        </div>
                        <div class="checkbox">
                          <input type="checkbox" id="checkbox-2" checked="checked"/>
                          <label for="checkbox-2"><span class="label-container">Checkbox Label Checked</span>
                          </label>
                        </div>
                      </div>
                      <div class="input-group field">
                        <div class="radio">
                          <input type="radio" name="radio-group" id="radio-1"/>
                          <label for="radio-1"><span class="label-container"><span class="inner">Radio Label</span></span></label>
                        </div>
                        <div class="radio">
                          <input type="radio" name="radio-group" id="radio-2" checked="checked"/>
                          <label for="radio-2"><span class="label-container"><span class="inner">Radio Label Checked</span></span></label>
                        </div>
                      </div>
                      <div class="toggle">
                        <input type="checkbox" id="toggle-normal"/>
                        <label for="toggle-normal"><span class="toggle-text left">No</span><span class="toggle-display"></span><span class="toggle-text right">Yes</span></label>
                      </div>
                      <div class="toggle">
                        <input type="checkbox" id="toggle-mini"/>
                        <label for="toggle-mini"><span class="toggle-text left">No</span><span class="toggle-display"></span><span class="toggle-text right">Yes</span></label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <div class="spinner" x-show="spinner === true" @click="spinner = false">
            <div class="spinner-message"><i class="icon-spinner"></i>
              <p>Loading</p>
            </div>
          </div>
        </div>
        <footer class="container site-footer">
          <div class="content">
            <div class="copyright">
              <p>&copy; Utah Valley University 2021</p>
            </div>
            <div class="contact">
              <p>If you have questions or concerns, please contact Human Resources at <a href="tel:8018638207">(801) 863-8207</a></p>
            </div>
          </div>
        </footer>
      </main>
      <div class="modal" id="modal-masquerade-as-user" aria-hidden="true">
        <div class="modal-overlay" tabindex="-1">
          <div class="modal-container" role="dialog" aria-modal="true" aria-labelledby="aria-labelledby">
            <header class="modal-header">
              <h6>Masquerade As A User</h6>
              <div class="close-modal close-modal-header" aria-label="Close modal" data-micromodal-close="data-micromodal-close"><i class="icon-clear"></i></div>
            </header>
            <div class="modal-content">
              <div class="mb-40">
                <h5>Search Users</h5>
                <div class="field">
                  <div class="input-has-icon"><i class="input-icon icon-icon-search icon-search"></i>
                    <input type="search"/>
                  </div>
                </div>
                <ul class="user-list list-unstyled selectable">
                  <li>
                    <div class="user-image"><img src="http://placehold.it/60x60"></div>
                    <div class="user-info">
                      <p class="name">John Smith</p>
                      <p class="title">Professional</p>
                    </div>
                    <div class="user-id">
                      <p>UVID: ########</p>
                    </div>
                  </li>
                  <li>
                    <div class="user-image"><img src="http://placehold.it/60x60"></div>
                    <div class="user-info">
                      <p class="name">John Smith</p>
                      <p class="title">Professional</p>
                    </div>
                    <div class="user-id">
                      <p>UVID: ########</p>
                    </div>
                  </li>
                  <li class="selected">
                    <div class="user-image"><img src="http://placehold.it/60x60"></div>
                    <div class="user-info">
                      <p class="name">John Smith</p>
                      <p class="title">Professional</p>
                    </div>
                    <div class="user-id">
                      <p>UVID: ########</p>
                    </div>
                  </li>
                  <li>
                    <div class="user-image"><img src="http://placehold.it/60x60"></div>
                    <div class="user-info">
                      <p class="name">John Smith</p>
                      <p class="title">Professional</p>
                    </div>
                    <div class="user-id">
                      <p>UVID: ########</p>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="button-group"><a class="button" href="personal-details-2.html">Start Masquerading</a><a class="button link" href="personal-details-2.html">Cancel</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Alpine (just for my interactions)-->
    <script src="//unpkg.com/alpinejs" defer=""></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.js"></script>
    <script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>
    <!-- Custom JS-->
    <script src="/assets/js/app.js"></script>
  </body>
</html>
