app/views/pages/admin/review-management/index.pug
extends ../../../layouts/layout.pug

block vars
  - var pageID = 'admin'; 
  - var pageSubID = 'review-management'; 

block content
  .container
    .content
      .component
        .component-header.component-container
          .title
            h6 Supervisor Review 2021
          .filters
            +input(false, 'search', false, false, 'icon-search')
            +toggle('archive-visibility', false, false, '', 'Hide Archived', 'toggle-mini')
          .action
            a(href="#0" data-micromodal-trigger="modal-new-instance").button.small.ghost.green 
              i.icon-add.left-icon
              | New Review Instance
        .component-content
          .component.reverse-margin
            .component-content.no-padding
              table.striped
                thead
                  tr
                    th Title
                    th Process Type
                    th Start Date
                    th End Date
                    th Status
                    th Snapshot Date
                    th Action
                tbody.zebra
                  -for (x = 1; x <= 20; x++)
                    tr
                      td The Boy Who Cried Kubernetes
                      td Incom T-65B X-wing starfighter
                      td XX Month, 20XX
                      td XX Month, 20XX
                      if x == 5 || x == 5
                        td.color-primary In Progress
                      else if x == 8
                        td In Pending
                      else
                        td Complete
                      if x == 3
                        td.has-icon
                          .warning-icon !
                          strong No Snapshot
                      else
                        td XX Month, 20XX
                      td.text-right
                        a(href="review.html").button.small View/Edit Review

  +modal('modal-new-instance', 'New Review Instance')
    .mb-40

      .header-container
        h5 Review Details
        .aside-message
          p All fields are required

      +input('Title')
      +select('Type', 'full')
        option(value="") - -
        option(value="") - -
        option(value="") - -
        option(value="") - -
        option(value="") - -

      .date-range
        .range-input
          +input('Start Date', 'text', false, false, 'date_range')
        .range-arrow
          i.icon-arrow_right_alt
        .range-input
          +input('End Date', 'text', false, false, 'date_range')

      hr.dashed

      h5 Previous Review Period Links

      +select('Link 1', 'full')
        option(value="") - -
        option(value="") - -
        option(value="") - -
        option(value="") - -
        option(value="") - -


      +select('Link 2', 'full')
        option(value="") - -
        option(value="") - -
        option(value="") - -
        option(value="") - -
        option(value="") - -


    .button-group
      a(href="personal-details-2.html").button Create Review
      a(href="personal-details-2.html").button.link Cancel

build/admin/review-management/index.html
<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="NOINDEX, NOFOLLOW">
    <title>UVUPM</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="application-name" content="Vanilla5 Project">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&amp;family=Rajdhani:wght@600;700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.css">
    <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet" media="all">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="/assets/images/app-icons/apple-touch-icon.png">
  </head>
  <body id="top" :class="{ 'show-nav': showNav }">
    <header class="site-masthead container">
      <div class="content">
        <div class="site-logo"><a href="/"><img src="/assets/images/uvupm-logo.svg"></a></div>
        <nav class="site-nav">
          <ul class="list-unstyled">
            <li><a href="/">Current</a></li>
            <li><a href="/past">Past</a></li>
            <li class="active"><a href="#0">Admin</a>
              <ul class="list-unstyled">
                <li><a href="#0" data-micromodal-trigger="modal-masquerade-as-user">Masquerade</a></li>
                <li><a href="/admin/masquerade-history">Masquerade History</a></li>
                <li class="active"><a href="/admin/review-management">Review Management</a></li>
                <li><a href="/admin/response-management">Response Management</a></li>
                <li><a href="/admin/admin-manager">Admin Role Management</a></li>
                <li><a href="/admin/process-management">Process Management</a></li>
                <li><a href="/admin/system-configuration">System Configuration</a></li>
                <li><a href="/form-builder">Form Builder (temp link)</a></li>
                <li><a href="/admin/read-only">Read Only (temp link)</a></li>
              </ul>
            </li>
            <li><a href="/elements.html">Elements</a></li>
          </ul>
        </nav>
        <div class="user-profile">
          <div class="user-account">
            <div class="profile-content">
              <p>Jerry Seinfeld</p>
              <p class="title">Professional Talker</p>
            </div>
            <div class="profile-image"><img src="http://placehold.it/36x36"></div>
          </div>
        </div>
      </div>
    </header>
    <div class="page-content" x-data="{'spinner': false}">
      <main>
        <div class="main-content">
          <div class="container">
            <div class="content">
              <div class="component">
                <div class="component-header component-container">
                  <div class="title">
                    <h6>Supervisor Review 2021</h6>
                  </div>
                  <div class="filters">
                    <div class="field">
                      <div class="input-has-icon"><i class="input-icon icon-icon-search icon-search"></i>
                        <input type="search"/>
                      </div>
                    </div>
                    <div class="toggle toggle-mini">
                      <input type="checkbox" id="archive-visibility"/>
                      <label for="archive-visibility"><span class="toggle-text left"></span><span class="toggle-display"></span><span class="toggle-text right">Hide Archived</span></label>
                    </div>
                  </div>
                  <div class="action"><a class="button small ghost green" href="#0" data-micromodal-trigger="modal-new-instance"> <i class="icon-add left-icon"></i>New Review Instance</a></div>
                </div>
                <div class="component-content">
                  <div class="component reverse-margin">
                    <div class="component-content no-padding">
                      <table class="striped">
                        <thead>
                          <tr>
                            <th>Title</th>
                            <th>Process Type</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Status</th>
                            <th>Snapshot Date</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody class="zebra">
                          <tr>
                            <td>The Boy Who Cried Kubernetes</td>
                            <td>Incom T-65B X-wing starfighter</td>
                            <td>XX Month, 20XX</td>
                            <td>XX Month, 20XX</td>
                            <td>Complete</td>
                            <td>XX Month, 20XX</td>
                            <td class="text-right"><a class="button small" href="review.html">View/Edit Review</a></td>
                          </tr>
                          <tr>
                            <td>The Boy Who Cried Kubernetes</td>
                            <td>Incom T-65B X-wing starfighter</td>
                            <td>XX Month, 20XX</td>
                            <td>XX Month, 20XX</td>
                            <td>Complete</td>
                            <td>XX Month, 20XX</td>
                            <td class="text-right"><a class="button small" href="review.html">View/Edit Review</a></td>
                          </tr>
                          <tr>
                            <td>The Boy Who Cried Kubernetes</td>
                            <td>Incom T-65B X-wing starfighter</td>
                            <td>XX Month, 20XX</td>
                            <td>XX Month, 20XX</td>
                            <td>Complete</td>
                            <td class="has-icon">
                              <div class="warning-icon">!</div><strong>No Snapshot</strong>
                            </td>
                            <td class="text-right"><a class="button small" href="review.html">View/Edit Review</a></td>
                          </tr>
                          <tr>
                            <td>The Boy Who Cried Kubernetes</td>
                            <td>Incom T-65B X-wing starfighter</td>
                            <td>XX Month, 20XX</td>
                            <td>XX Month, 20XX</td>
                            <td>Complete</td>
                            <td>XX Month, 20XX</td>
                            <td class="text-right"><a class="button small" href="review.html">View/Edit Review</a></td>
                          </tr>
                          <tr>
                            <td>The Boy Who Cried Kubernetes</td>
                            <td>Incom T-65B X-wing starfighter</td>
                            <td>XX Month, 20XX</td>
                            <td>XX Month, 20XX</td>
                            <td class="color-primary">In Progress</td>
                            <td>XX Month, 20XX</td>
                            <td class="text-right"><a class="button small" href="review.html">View/Edit Review</a></td>
                          </tr>
                          <tr>
                            <td>The Boy Who Cried Kubernetes</td>
                            <td>Incom T-65B X-wing starfighter</td>
                            <td>XX Month, 20XX</td>
                            <td>XX Month, 20XX</td>
                            <td>Complete</td>
                            <td>XX Month, 20XX</td>
                            <td class="text-right"><a class="button small" href="review.html">View/Edit Review</a></td>
                          </tr>
                          <tr>
                            <td>The Boy Who Cried Kubernetes</td>
                            <td>Incom T-65B X-wing starfighter</td>
                            <td>XX Month, 20XX</td>
                            <td>XX Month, 20XX</td>
                            <td>Complete</td>
                            <td>XX Month, 20XX</td>
                            <td class="text-right"><a class="button small" href="review.html">View/Edit Review</a></td>
                          </tr>
                          <tr>
                            <td>The Boy Who Cried Kubernetes</td>
                            <td>Incom T-65B X-wing starfighter</td>
                            <td>XX Month, 20XX</td>
                            <td>XX Month, 20XX</td>
                            <td>In Pending</td>
                            <td>XX Month, 20XX</td>
                            <td class="text-right"><a class="button small" href="review.html">View/Edit Review</a></td>
                          </tr>
                          <tr>
                            <td>The Boy Who Cried Kubernetes</td>
                            <td>Incom T-65B X-wing starfighter</td>
                            <td>XX Month, 20XX</td>
                            <td>XX Month, 20XX</td>
                            <td>Complete</td>
                            <td>XX Month, 20XX</td>
                            <td class="text-right"><a class="button small" href="review.html">View/Edit Review</a></td>
                          </tr>
                          <tr>
                            <td>The Boy Who Cried Kubernetes</td>
                            <td>Incom T-65B X-wing starfighter</td>
                            <td>XX Month, 20XX</td>
                            <td>XX Month, 20XX</td>
                            <td>Complete</td>
                            <td>XX Month, 20XX</td>
                            <td class="text-right"><a class="button small" href="review.html">View/Edit Review</a></td>
                          </tr>
                          <tr>
                            <td>The Boy Who Cried Kubernetes</td>
                            <td>Incom T-65B X-wing starfighter</td>
                            <td>XX Month, 20XX</td>
                            <td>XX Month, 20XX</td>
                            <td>Complete</td>
                            <td>XX Month, 20XX</td>
                            <td class="text-right"><a class="button small" href="review.html">View/Edit Review</a></td>
                          </tr>
                          <tr>
                            <td>The Boy Who Cried Kubernetes</td>
                            <td>Incom T-65B X-wing starfighter</td>
                            <td>XX Month, 20XX</td>
                            <td>XX Month, 20XX</td>
                            <td>Complete</td>
                            <td>XX Month, 20XX</td>
                            <td class="text-right"><a class="button small" href="review.html">View/Edit Review</a></td>
                          </tr>
                          <tr>
                            <td>The Boy Who Cried Kubernetes</td>
                            <td>Incom T-65B X-wing starfighter</td>
                            <td>XX Month, 20XX</td>
                            <td>XX Month, 20XX</td>
                            <td>Complete</td>
                            <td>XX Month, 20XX</td>
                            <td class="text-right"><a class="button small" href="review.html">View/Edit Review</a></td>
                          </tr>
                          <tr>
                            <td>The Boy Who Cried Kubernetes</td>
                            <td>Incom T-65B X-wing starfighter</td>
                            <td>XX Month, 20XX</td>
                            <td>XX Month, 20XX</td>
                            <td>Complete</td>
                            <td>XX Month, 20XX</td>
                            <td class="text-right"><a class="button small" href="review.html">View/Edit Review</a></td>
                          </tr>
                          <tr>
                            <td>The Boy Who Cried Kubernetes</td>
                            <td>Incom T-65B X-wing starfighter</td>
                            <td>XX Month, 20XX</td>
                            <td>XX Month, 20XX</td>
                            <td>Complete</td>
                            <td>XX Month, 20XX</td>
                            <td class="text-right"><a class="button small" href="review.html">View/Edit Review</a></td>
                          </tr>
                          <tr>
                            <td>The Boy Who Cried Kubernetes</td>
                            <td>Incom T-65B X-wing starfighter</td>
                            <td>XX Month, 20XX</td>
                            <td>XX Month, 20XX</td>
                            <td>Complete</td>
                            <td>XX Month, 20XX</td>
                            <td class="text-right"><a class="button small" href="review.html">View/Edit Review</a></td>
                          </tr>
                          <tr>
                            <td>The Boy Who Cried Kubernetes</td>
                            <td>Incom T-65B X-wing starfighter</td>
                            <td>XX Month, 20XX</td>
                            <td>XX Month, 20XX</td>
                            <td>Complete</td>
                            <td>XX Month, 20XX</td>
                            <td class="text-right"><a class="button small" href="review.html">View/Edit Review</a></td>
                          </tr>
                          <tr>
                            <td>The Boy Who Cried Kubernetes</td>
                            <td>Incom T-65B X-wing starfighter</td>
                            <td>XX Month, 20XX</td>
                            <td>XX Month, 20XX</td>
                            <td>Complete</td>
                            <td>XX Month, 20XX</td>
                            <td class="text-right"><a class="button small" href="review.html">View/Edit Review</a></td>
                          </tr>
                          <tr>
                            <td>The Boy Who Cried Kubernetes</td>
                            <td>Incom T-65B X-wing starfighter</td>
                            <td>XX Month, 20XX</td>
                            <td>XX Month, 20XX</td>
                            <td>Complete</td>
                            <td>XX Month, 20XX</td>
                            <td class="text-right"><a class="button small" href="review.html">View/Edit Review</a></td>
                          </tr>
                          <tr>
                            <td>The Boy Who Cried Kubernetes</td>
                            <td>Incom T-65B X-wing starfighter</td>
                            <td>XX Month, 20XX</td>
                            <td>XX Month, 20XX</td>
                            <td>Complete</td>
                            <td>XX Month, 20XX</td>
                            <td class="text-right"><a class="button small" href="review.html">View/Edit Review</a></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal" id="modal-new-instance" aria-hidden="true">
            <div class="modal-overlay" tabindex="-1">
              <div class="modal-container" role="dialog" aria-modal="true" aria-labelledby="aria-labelledby">
                <header class="modal-header">
                  <h6>New Review Instance</h6>
                  <div class="close-modal close-modal-header" aria-label="Close modal" data-micromodal-close="data-micromodal-close"><i class="icon-clear"></i></div>
                </header>
                <div class="modal-content">
                  <div class="mb-40">
                    <div class="header-container">
                      <h5>Review Details</h5>
                      <div class="aside-message">
                        <p>All fields are required</p>
                      </div>
                    </div>
                    <div class="field">
                      <label>Title
                      </label>
                      <input type="text"/>
                    </div>
                    <div class="field">
                      <label>Type</label>
                      <div class="select-container">
                        <select class="full">
                          <option value="">- -</option>
                          <option value="">- -</option>
                          <option value="">- -</option>
                          <option value="">- -</option>
                          <option value="">- -</option>
                        </select>
                      </div>
                    </div>
                    <div class="date-range">
                      <div class="range-input">
                        <div class="field">
                          <label>Start Date
                          </label>
                          <div class="input-has-icon"><i class="input-icon icon-date_range date_range"></i>
                            <input type="text"/>
                          </div>
                        </div>
                      </div>
                      <div class="range-arrow"><i class="icon-arrow_right_alt"></i></div>
                      <div class="range-input">
                        <div class="field">
                          <label>End Date
                          </label>
                          <div class="input-has-icon"><i class="input-icon icon-date_range date_range"></i>
                            <input type="text"/>
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr class="dashed">
                    <h5>Previous Review Period Links</h5>
                    <div class="field">
                      <label>Link 1</label>
                      <div class="select-container">
                        <select class="full">
                          <option value="">- -</option>
                          <option value="">- -</option>
                          <option value="">- -</option>
                          <option value="">- -</option>
                          <option value="">- -</option>
                        </select>
                      </div>
                    </div>
                    <div class="field">
                      <label>Link 2</label>
                      <div class="select-container">
                        <select class="full">
                          <option value="">- -</option>
                          <option value="">- -</option>
                          <option value="">- -</option>
                          <option value="">- -</option>
                          <option value="">- -</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="button-group"><a class="button" href="personal-details-2.html">Create Review</a><a class="button link" href="personal-details-2.html">Cancel</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="container site-footer">
          <div class="content">
            <div class="copyright">
              <p>&copy; Utah Valley University 2021</p>
            </div>
            <div class="contact">
              <p>If you have questions or concerns, please contact Human Resources at <a href="tel:8018638207">(801) 863-8207</a></p>
            </div>
          </div>
        </footer>
      </main>
      <div class="modal" id="modal-masquerade-as-user" aria-hidden="true">
        <div class="modal-overlay" tabindex="-1">
          <div class="modal-container" role="dialog" aria-modal="true" aria-labelledby="aria-labelledby">
            <header class="modal-header">
              <h6>Masquerade As A User</h6>
              <div class="close-modal close-modal-header" aria-label="Close modal" data-micromodal-close="data-micromodal-close"><i class="icon-clear"></i></div>
            </header>
            <div class="modal-content">
              <div class="mb-40">
                <h5>Search Users</h5>
                <div class="field">
                  <div class="input-has-icon"><i class="input-icon icon-icon-search icon-search"></i>
                    <input type="search"/>
                  </div>
                </div>
                <ul class="user-list list-unstyled selectable">
                  <li>
                    <div class="user-image"><img src="http://placehold.it/60x60"></div>
                    <div class="user-info">
                      <p class="name">John Smith</p>
                      <p class="title">Professional</p>
                    </div>
                    <div class="user-id">
                      <p>UVID: ########</p>
                    </div>
                  </li>
                  <li>
                    <div class="user-image"><img src="http://placehold.it/60x60"></div>
                    <div class="user-info">
                      <p class="name">John Smith</p>
                      <p class="title">Professional</p>
                    </div>
                    <div class="user-id">
                      <p>UVID: ########</p>
                    </div>
                  </li>
                  <li class="selected">
                    <div class="user-image"><img src="http://placehold.it/60x60"></div>
                    <div class="user-info">
                      <p class="name">John Smith</p>
                      <p class="title">Professional</p>
                    </div>
                    <div class="user-id">
                      <p>UVID: ########</p>
                    </div>
                  </li>
                  <li>
                    <div class="user-image"><img src="http://placehold.it/60x60"></div>
                    <div class="user-info">
                      <p class="name">John Smith</p>
                      <p class="title">Professional</p>
                    </div>
                    <div class="user-id">
                      <p>UVID: ########</p>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="button-group"><a class="button" href="personal-details-2.html">Start Masquerading</a><a class="button link" href="personal-details-2.html">Cancel</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Alpine (just for my interactions)-->
    <script src="//unpkg.com/alpinejs" defer=""></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.js"></script>
    <script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>
    <!-- Custom JS-->
    <script src="/assets/js/app.js"></script>
  </body>
</html>
