app/views/pages/form-builder/question-vault.pug
extends ../../layouts/layout.pug

block vars
  - var pageID = ''; 
  - var sidebar = true; 

block banner
  .banner.banner-action
    .inner
      .message
        p
          strong Select the question you want to unarchive.
          |  Only one question at a time may be restored.

      .action
        p
          a(href="#0").button.dark.ghost Cancel


block content
  .container
    .content
      .component
        .component-header.component-container
          .title
            h6 Process: Question Vault
          .control.flex-container
            +select('Filter', '', 'inline')
              option(value="") All Question Types
              option(value="") Text Input
              option(value="") Likert Scale
              option(value="") Ranking
              option(value="") Multi-Select
              option(value="") Dropdown
              option(value="") Radio Buttons
              option(value="") Checkbox
              option(value="") Yes /No
              option(value="") Goal Setting
            +select('Sort By', '', 'inline')
              option(value="") Date Deleted (Ascending)
              option(value="") Date Deleted (Decending)
              option(value="") Question ID (Ascending)
              option(value="") Question ID (Descending)
                
        .component-content
          .component
            .component-header.component-container
              .title
                h5 Text Entry: Please don’t tell us your life story. Please, please don’t.
              .action.flex-container.center
                ul.list-unstyled.history.inline
                  li
                    .title
                      p Deleted By 
                    .info
                      p Mary Lynn Monroe (########)
                  li
                    .title
                      p Deleted On 
                    .info
                      p Nov 19th, 2021 - 2:24 pm

                button.button.green Select Question
            .component-content
              .question
                .information-block
                  p Nullam quis risus eget urna mollis ornare vel eu leo. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget  
                    a(href="#0") lacinia odio
                    |  sem nec elit. Nullam quis risus eget urna mollis ornare vel eu leo. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Etiam porta sem malesuada magna mollis euismod. Nullam quis risus eget urna mollis ornare vel eu leo.

                  blockquote
                    p If you experience retaliation of any kind, including your supervisor pressuring you to disclose how you rated them, contact Human Resources immediately at 
                      strong 801.863.8207.

                  ul.link-list
                    li
                      a(href="#0") Employee Awards and Recognition
                    li
                      a(href="#0") Employee Awards and Recognition

                  p Nullam quis risus eget urna mollis ornare vel eu leo. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam quis risus eget urna mollis ornare vel eu leo. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Etiam porta sem malesuada magna mollis euismod. Nullam quis risus eget urna mollis ornare vel eu leo.

                  p 
                    i Based on your interactions with and observations of the work of 
                      strong [SUPERVISOR'S NAME]
                      |  in the last year, please rate their performance below.

          

build/form-builder/question-vault.html
<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="NOINDEX, NOFOLLOW">
    <title>UVUPM</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="application-name" content="Vanilla5 Project">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&amp;family=Rajdhani:wght@600;700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.css">
    <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet" media="all">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="/assets/images/app-icons/apple-touch-icon.png">
  </head>
  <body id="top" :class="{ 'show-nav': showNav }">
    <header class="site-masthead container">
      <div class="content">
        <div class="site-logo"><a href="/"><img src="/assets/images/uvupm-logo.svg"></a></div>
        <nav class="site-nav">
          <ul class="list-unstyled">
            <li><a href="/">Current</a></li>
            <li><a href="/past">Past</a></li>
            <li><a href="#0">Admin</a>
              <ul class="list-unstyled">
                <li><a href="#0" data-micromodal-trigger="modal-masquerade-as-user">Masquerade</a></li>
                <li><a href="/admin/masquerade-history">Masquerade History</a></li>
                <li><a href="/admin/review-management">Review Management</a></li>
                <li><a href="/admin/response-management">Response Management</a></li>
                <li><a href="/admin/admin-manager">Admin Role Management</a></li>
                <li><a href="/admin/process-management">Process Management</a></li>
                <li><a href="/admin/system-configuration">System Configuration</a></li>
                <li><a href="/form-builder">Form Builder (temp link)</a></li>
                <li><a href="/admin/read-only">Read Only (temp link)</a></li>
              </ul>
            </li>
            <li><a href="/elements.html">Elements</a></li>
          </ul>
        </nav>
        <div class="user-profile">
          <div class="user-account">
            <div class="profile-content">
              <p>Jerry Seinfeld</p>
              <p class="title">Professional Talker</p>
            </div>
            <div class="profile-image"><img src="http://placehold.it/36x36"></div>
          </div>
        </div>
      </div>
    </header>
    <div class="banner banner-action">
      <div class="inner">
        <div class="message">
          <p><strong>Select the question you want to unarchive.</strong> Only one question at a time may be restored.</p>
        </div>
        <div class="action">
          <p><a class="button dark ghost" href="#0">Cancel</a></p>
        </div>
      </div>
    </div>
    <div class="page-content" x-data="{'spinner': false}">
      <main>
        <div class="main-content">
          <div class="container">
            <div class="content">
              <div class="component">
                <div class="component-header component-container">
                  <div class="title">
                    <h6>Process: Question Vault</h6>
                  </div>
                  <div class="control flex-container">
                    <div class="field inline">
                      <label>Filter</label>
                      <div class="select-container">
                        <select>
                          <option value="">All Question Types</option>
                          <option value="">Text Input</option>
                          <option value="">Likert Scale</option>
                          <option value="">Ranking</option>
                          <option value="">Multi-Select</option>
                          <option value="">Dropdown</option>
                          <option value="">Radio Buttons</option>
                          <option value="">Checkbox</option>
                          <option value="">Yes /No</option>
                          <option value="">Goal Setting</option>
                        </select>
                      </div>
                    </div>
                    <div class="field inline">
                      <label>Sort By</label>
                      <div class="select-container">
                        <select>
                          <option value="">Date Deleted (Ascending)</option>
                          <option value="">Date Deleted (Decending)</option>
                          <option value="">Question ID (Ascending)</option>
                          <option value="">Question ID (Descending)</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="component-content">
                  <div class="component">
                    <div class="component-header component-container">
                      <div class="title">
                        <h5>Text Entry: Please don’t tell us your life story. Please, please don’t.</h5>
                      </div>
                      <div class="action flex-container center">
                        <ul class="list-unstyled history inline">
                          <li>
                            <div class="title">
                              <p>Deleted By </p>
                            </div>
                            <div class="info">
                              <p>Mary Lynn Monroe (########)</p>
                            </div>
                          </li>
                          <li>
                            <div class="title">
                              <p>Deleted On </p>
                            </div>
                            <div class="info">
                              <p>Nov 19th, 2021 - 2:24 pm</p>
                            </div>
                          </li>
                        </ul>
                        <button class="button green">Select Question</button>
                      </div>
                    </div>
                    <div class="component-content">
                      <div class="question">
                        <div class="information-block">
                          <p>Nullam quis risus eget urna mollis ornare vel eu leo. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget  <a href="#0">lacinia odio</a> sem nec elit. Nullam quis risus eget urna mollis ornare vel eu leo. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Etiam porta sem malesuada magna mollis euismod. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
                          <blockquote>
                            <p>If you experience retaliation of any kind, including your supervisor pressuring you to disclose how you rated them, contact Human Resources immediately at <strong>801.863.8207.</strong></p>
                          </blockquote>
                          <ul class="link-list">
                            <li><a href="#0">Employee Awards and Recognition</a></li>
                            <li><a href="#0">Employee Awards and Recognition</a></li>
                          </ul>
                          <p>Nullam quis risus eget urna mollis ornare vel eu leo. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam quis risus eget urna mollis ornare vel eu leo. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Etiam porta sem malesuada magna mollis euismod. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
                          <p> <i>Based on your interactions with and observations of the work of <strong>[SUPERVISOR'S NAME]</strong> in the last year, please rate their performance below.</i></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="container site-footer">
          <div class="content">
            <div class="copyright">
              <p>&copy; Utah Valley University 2021</p>
            </div>
            <div class="contact">
              <p>If you have questions or concerns, please contact Human Resources at <a href="tel:8018638207">(801) 863-8207</a></p>
            </div>
          </div>
        </footer>
      </main>
      <div class="modal" id="modal-masquerade-as-user" aria-hidden="true">
        <div class="modal-overlay" tabindex="-1">
          <div class="modal-container" role="dialog" aria-modal="true" aria-labelledby="aria-labelledby">
            <header class="modal-header">
              <h6>Masquerade As A User</h6>
              <div class="close-modal close-modal-header" aria-label="Close modal" data-micromodal-close="data-micromodal-close"><i class="icon-clear"></i></div>
            </header>
            <div class="modal-content">
              <div class="mb-40">
                <h5>Search Users</h5>
                <div class="field">
                  <div class="input-has-icon"><i class="input-icon icon-icon-search icon-search"></i>
                    <input type="search"/>
                  </div>
                </div>
                <ul class="user-list list-unstyled selectable">
                  <li>
                    <div class="user-image"><img src="http://placehold.it/60x60"></div>
                    <div class="user-info">
                      <p class="name">John Smith</p>
                      <p class="title">Professional</p>
                    </div>
                    <div class="user-id">
                      <p>UVID: ########</p>
                    </div>
                  </li>
                  <li>
                    <div class="user-image"><img src="http://placehold.it/60x60"></div>
                    <div class="user-info">
                      <p class="name">John Smith</p>
                      <p class="title">Professional</p>
                    </div>
                    <div class="user-id">
                      <p>UVID: ########</p>
                    </div>
                  </li>
                  <li class="selected">
                    <div class="user-image"><img src="http://placehold.it/60x60"></div>
                    <div class="user-info">
                      <p class="name">John Smith</p>
                      <p class="title">Professional</p>
                    </div>
                    <div class="user-id">
                      <p>UVID: ########</p>
                    </div>
                  </li>
                  <li>
                    <div class="user-image"><img src="http://placehold.it/60x60"></div>
                    <div class="user-info">
                      <p class="name">John Smith</p>
                      <p class="title">Professional</p>
                    </div>
                    <div class="user-id">
                      <p>UVID: ########</p>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="button-group"><a class="button" href="personal-details-2.html">Start Masquerading</a><a class="button link" href="personal-details-2.html">Cancel</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Alpine (just for my interactions)-->
    <script src="//unpkg.com/alpinejs" defer=""></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.js"></script>
    <script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>
    <!-- Custom JS-->
    <script src="/assets/js/app.js"></script>
  </body>
</html>
